body {
  background: #2c3e50;
  color: #ecf0f1;
}

img {
  max-width: 100%;
}

.navbar {
  border-radius: 0;
}

.jumbotron-asphalt {
  background: #34495e;
  color: #ecf0f1;
}

.jumbotron-light {
  background: #506987;
}

 .text-centered { text-align: center; }
 .no-margin { margin: 0; }

@media(max-width: 767px) {
  .jumbotron h1 {
    font-size: 31px;
  }
}
